.list-clients-master{
    
}
.list-client{
    width: 100vw;
     
     

    
}

.list-clients-container{
    
     
    width: 100vw;
    display: flex;     
 
    height:  calc(100vh - (250px + 100px + 32px));
    background:url('../../assets/fundo-detalhado.png') ;
    background-position:  bottom   !important;
    flex-direction: column;
}

.list-clients-table{
    font-family: 'Raleway', sans-serif;     
    display: flex;
    background: #fc3369 ;
    border-radius: 15px;
    margin: 0  250px ;
    position: relative;
    flex-wrap: wrap; 
   
}

.list-clients-head{
    display: flex;
    justify-content: space-around;
    background: #fc3369 ;
    color: #ffffff;     
    font-weight: bold;
    padding: 10px ;
    text-align: center;
    width: 100%; 
    border-radius: 15px;
}

.list-clients-data__name, .list-clients-data__instagram,
.list-clients-data__tel, .list-clients-data__action, .list-clients-data__org {     
    text-transform: uppercase;    
     
}
 
 