.list-clients-container{
    width: 100vw;
    display: flex;     
    height:  100vh;
    background-image:  url("../../assets/fundo.png") ;          
    background-size: 100vw 100vh ;
    flex-direction: column;
}


.list-clients-table{
    font-family: 'Raleway', sans-serif;     
    display: flex;
    background: #f1ecea;
    border-radius: 15px;
    margin: 0  250px ;
    position: relative;
    flex-wrap: wrap; 
}

.list-clients-head{
    background: linear-gradient(90deg, rgba(8,193,251,1) 5%, rgba(124,14,252,1) 51%, rgba(255,112,186,1) 98%);
     
    color: #ffffff;     
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    padding: 10px ;
    text-align: center;
    width: 100%; 
    border-radius: 15px;
     

     
}

.list-clients-data__name, .list-clients-data__instagram,
.list-clients-data__tel, .list-clients-data__action {
 
  

}
 
 