.list-clients-master{
    width: 100vw;
    display: flex;         
    flex-direction: column;
    background:url('../../assets/fundo-detalhado.png') ,  #fff !important;
    
}
 
.list-clients-container{    
    width: 100%;
    background-position: -130px bottom   !important;
    background-repeat:repeat ;
    height: 65vh;
}

.list-clients-table{
    font-family: 'Raleway', sans-serif;     
    display: flex;
    background: #fc3369 ;
    border-radius: 15px;
    margin: 0  250px ;
    position: relative;
    flex-wrap: wrap; 
}

.list-clients-head{
    display: flex;
    justify-content: space-around;
    background: #fc3369 ;
    color: #ffffff;     
    font-weight: bold;
    padding: 10px ;
    text-align: center;
    width: 100%; 
    border-radius: 15px;
}

.list-clients-data__name, .list-clients-data__instagram,
.list-clients-data__tel, .list-clients-data__action, .list-clients-data__org {     
    text-transform: uppercase;    
     
}
 .search{
     justify-content: center;
    margin: 13px auto;
    align-items: center;
 }
 .search-client{
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);  
    text-align: center;
 }