.menuButton{
    color: #ffffff;
    border-radius: 15px;
    border: none;
    padding: 5px;
    align-items: left;
    background: linear-gradient(90deg, rgba(255,112,186,1) 11%, rgba(124,14,252,1) 72%, rgba(8,193,251,1) 97%);
    background:  rgba(255,112,186,1);
    margin: 20px  ;
     
}

.menuButton:hover{
    cursor: pointer;
    opacity: 0.5;
    text-decoration: underline;
}

.menuItem {
    font-family: 'Raleway', sans-serif;
    background: #f1ecea  ;
    border-color: #f0f0f0;
    border-width: 1px;
}

.menuItem:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #e70052 ;
    padding: 5px;
}

.cliente{
    display: flex;
    color: #000000;
    background: #ffffff;
    border: #000000;
    height: 80px;
    width: 100%;
    margin:   5px;
    border-radius: 15px;
    justify-content: space-around;
    box-shadow: 1px 1px 1px black;
}

.cliente__name, .cliente__instagram , .cliente__phone, .cliente__action, .cliente__org {
    display: flex;
    align-items: center;     
    font-weight: bold;
    flex-wrap: wrap;     
    max-width: 260px;  
    min-width: 120px;  
    
}

 