.user{
    display: flex;
    margin: -20px 250px;  
    text-align: left;
    
}

.user-info{
    background: linear-gradient(90deg, rgba(8,193,251,1) 15%, rgba(124,14,252,1) 51%, rgba(255,112,186,1) 98%);
    border-radius: 10px;
    color: #ffffff;     
    padding: 10px;
    align-items: center;
    width: 20vw;
    text-align: center;

}

.user-info__org{
    color: #f0f0f0f0;
    font-weight: bold;
}


.user-info_name{
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}

.user-info_instagram{

}

.user-info_phone{

}


