.header-out{
    height: 35px; 
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(8,193,251,1) 5%, rgba(124,14,252,1) 51%, rgba(255,112,186,1) 98%);
    color: #ffffff;    
} 

.header-options{
    display: flex;
    font-size: 17px;  
    font-weight: bold;
    margin: 7px ;
}

.header-logout{
    position: absolute;
    right: 40px;
    top: 7px;    
}

.header-logout:hover{
    cursor: pointer;
    text-decoration: underline #e70052 ;     
    padding: 0 3px;
    transform: 0.3s;
    border-radius: 5px;
}

.header-top{
    text-transform: uppercase;
    display: flex;
    font-weight: bold;
}



