/* .header-img{
    width: calc(100% - (250px * 2));
    margin: 0 250px;     
} */

.header{
    display: flex;
    height: 8vw;
    height: 350px;
    background:  #061c33   ;
}

.header-name{
   
    height: auto;
    width: 80vw;
    background: linear-gradient(90deg, rgba(255,112,186,1) 15%, rgba(124,14,252,1) 55%, rgba(8,193,251,1) 100%);
    margin: 120px  250px ;
}

.header-name_desc{
    display: flex;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    max-width: 960px;
    font-size: 100px;
    justify-content: center;
    font-weight: bold;
    flex-wrap: wrap;
    margin: auto auto;
     
}

.header-logo{
    padding: 0 15px;
    position: relative;
   
}

.header-img{
    background: linear-gradient(90deg, rgba(255,112,186,1) 15%, rgba(124,14,252,1) 55%, rgba(8,193,251,1) 100%);
    position: absolute;
    top: -122px; 
    right: 120px;
    height: 150px;
   border-radius: 150px;
}