.login__login{    
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: 50px;
}

.login__logo{
    filter: brightness(0);
    width: 200px;
    height: 200px;
    margin: 30px 8.3vw;
    align-items: center;
    justify-content: center;
    display: flex;
}

.login-container{
    background: linear-gradient(90deg, rgba(8,193,251,1) 5%, rgba(124,14,252,1) 51%, rgba(255,112,186,1) 98%);    
    display: flex;
    height: 100vh;
    justify-content: center;
}

.login-card{
    background: #ffffff;
    width:  25vw;
    height: 70vh;
    margin: 10vh 35vw;
    border-radius: 20px;
    
    justify-content: center;     
 }

.login-form{       
    width: 25vw;
    padding: 50px;     
    height: 50vh;
    margin: vh 0;
}
 
.login-form__name-input, .login-form__password-input{
   padding: 0 0 5px 0;
   background: 
   linear-gradient(#ffffff, #f0f0f0) center bottom 5px /calc(100% - 10px) 4px no-repeat;
}

.login-button{
    display: flex;
   text-align: center;
   margin-top: 13px;
   background: linear-gradient(90deg, rgba(8,193,251,1) 5%, rgba(124,14,252,1) 51%, rgba(255,112,186,1) 98%);    
   color: #fff;
   padding: 15px;
   border-radius: 50px;
   justify-content: center;
   width: 100%;
}

.login-button:hover{
   text-decoration: underline;
   opacity: 0.9;
   cursor: pointer;
   transform: 0.3s;
   color: #000;
}

.login-form__name, .login-form__password-input , .login-form__password, .login-form__name-input{
   margin: 13px 0;
   width:100% ;
}

