.banner-top{
   width: 100vw;    
    
   background-position: 10px left   !important;
   height: 30vh;
    
}

.banner{    
   position: absolute;
   display: flex;
   justify-content: center;
   font-family: 'Raleway', sans-serif;
   background: #fc3369 ;
   height: 80px;
   margin: 130px 250px;
   position: relative;
   border-radius: 15px;        
   
 }
 
 .banner-desc{
    display: flex;
    position: absolute;
    left: 150px;
    top: 10px;     
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;    
     text-transform: uppercase;
 }
 
 .banner-logo{
    display: flex;   
    height: 130px;
    width: 130px;
    border-radius: 100%;
    position: absolute;  
    color: #ffffff;
    background: #fc3369 ;
    top: -25px;
    right: 100px;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px 5px black;
 }
 
 .header-logo__image{      
    height: 100px;
    width: 100px;
    border-radius: 100%;
    justify-content: center; 
    position: absolute;
    margin: 15px;
    
 }
